body, .calculator{
    margin:auto;
}

body{
    width: 500px;
    text-align: center;
}

.calculator{
    height: 513px;
}

.output, .flex1, .calculator{
    width: 370px;
}

.output, .numbers, .flex1, .operations{
    display: flex;
}

.numbers, .operations{
    flex-wrap: wrap;
    align-items: center;
}

.output{
    height: 100px;
    border-radius: 20px 20px 0 0;
    font-size: 30px;
    text-align: right;
    background-color: rgb(110, 107, 114);
    justify-content: right;
    
}
.numbers{
    height: 357px;
    width: 200px;
    flex-shrink:0;
    margin-right: 10px;
}

.flex1{
    background-color: rgb(32, 41, 49);
    border-radius: 0 0 20px 20px;
    box-sizing: border-box;
    padding:10px;

}
.operations{
    height: 357px;
    width: 140px;
    justify-content: space-around;
    flex-shrink: 0;


}
button{
    width:60px;
    height:60px;
    margin:3px;
    font-size: 30px;
    background-color: rgb(52, 56, 58);
    color: rgb(121, 64, 69);
    border-radius: 40px;
    border-style: solid;
    

}   
.inputNums{
    font-size: 40px;
    margin: 20px 30px 0 0;
    color: rgb(112, 49, 59);


}